
/* === navbar ====*/

.navbar__link{
    display: inline-block;
    position: relative;
    color: white;
}

.navbar__link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

 .navbar__link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* image route */

  .images {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image {
  margin: .5rem;
  padding: .5rem;
  text-decoration: none;
}

.videos{
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.video{
  margin: .5rem;
  padding: .5rem;
}



 
/* responsive */

@media screen and (max-width: 800px) {
  .navbar{
    width: 100%;
  }
  .navbar__logo{
    display: none;
    visibility: hidden;
    width: 0px;
  }
}